$xlarge: 1192px;
$large: 1024px;
$medium: 900px;
$small: 768px;

@mixin break($mm, $width) {
  @media (#{$mm}-width: $width){
    @content
  }
}

@mixin width($cols) {
  width: 8.33% * $cols;
  padding: 0 10px;
}

@mixin offset($offs) {
  margin-left: 8.33% * $offs;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.grid {
  max-width: 1192px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  flex-wrap: wrap;
}

.col1  { @include width(1); }
.col2  { @include width(2); }
.col3  { @include width(3); }
.col4  { @include width(4); }
.col5  { @include width(5); }
.col6  { @include width(6); }
.col7  { @include width(7); }
.col8  { @include width(8); } 
.col9  { @include width(9); }
.col10 { @include width(10); }
.col11 { @include width(11); }
.col12 { @include width(12); }

.off1  { @include offset(1); }
.off2  { @include offset(2); }
.off3  { @include offset(3); }
.off4  { @include offset(4); }
.off5  { @include offset(5); }
.off6  { @include offset(6); }
.off7  { @include offset(7); }
.off8  { @include offset(8); } 
.off9  { @include offset(9); }
.off10 { @include offset(10); }
.off11 { @include offset(11); }
.off12 { @include offset(12); }

@include break(max, $large) {
  .col1  { @include width(2); }
  .col2  { @include width(2); }
  .col3  { @include width(6); }
  .col4  { @include width(6); }
  .col5  { @include width(6); }
  .col6  { @include width(6); }
  .col7  { @include width(6); }
  .col8  { @include width(8); } 
  .col9  { @include width(8); }
  .col10 { @include width(10); }
  .col11 { @include width(12); }
  .col12 { @include width(12); }

  .off1  { @include offset(2); }
  .off2  { @include offset(2); }
  .off3  { @include offset(2); }
  .off4  { @include offset(6); }
  .off5  { @include offset(6); }
  .off6  { @include offset(6); }
  .off7  { @include offset(8); }
  .off8  { @include offset(8); } 
  .off9  { @include offset(10); }
  .off10 { @include offset(10); }
  .off11 { @include offset(12); }
  .off12 { @include offset(12); }
}

@include break(max, $small) {
  .grid { padding: 0 10px; }

  .col1  { @include width(6); }
  .col2  { @include width(6); }
  .col3  { @include width(6); }
  .col4  { @include width(6); }
  .col5  { @include width(6); }
  .col6  { @include width(6); }
  .col7  { @include width(12); }
  .col8  { @include width(12); } 
  .col9  { @include width(12); }
  .col10 { @include width(12); }
  .col11 { @include width(12); }
  .col12 { @include width(12); }

  .off1  { @include offset(0); }
  .off2  { @include offset(0); }
  .off3  { @include offset(0); }
  .off4  { @include offset(0); }
  .off5  { @include offset(6); }
  .off6  { @include offset(6); }
  .off7  { @include offset(6); }
  .off8  { @include offset(6); } 
  .off9  { @include offset(6); }
  .off10 { @include offset(6); }
  .off11 { @include offset(6); }
  .off12 { @include offset(12); }
}