$xlarge: 1192px;
$large: 1024px;
$medium: 900px;
$small: 768px;

@mixin break($mm, $width) {
  @media (#{$mm}-width: $width){
    @content
  }
}

@mixin width($cols) {
  width: 8.33% * $cols;
  padding: 0 10px;
}

@mixin offset($offs) {
  margin-left: 8.33% * $offs;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.grid {
  max-width: 1192px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-1  { @include width(1); }
.col-2  { @include width(2); }
.col-3  { @include width(3); }
.col-4  { @include width(4); }
.col-5  { @include width(5); }
.col-6  { @include width(6); }
.col-7  { @include width(7); }
.col-8  { @include width(8); } 
.col-9  { @include width(9); }
.col-10 { @include width(10); }
.col-11 { @include width(11); }
.col-12 { @include width(12); }

.off-1  { @include offset(1); }
.off-2  { @include offset(2); }
.off-3  { @include offset(3); }
.off-4  { @include offset(4); }
.off-5  { @include offset(5); }
.off-6  { @include offset(6); }
.off-7  { @include offset(7); }
.off-8  { @include offset(8); } 
.off-9  { @include offset(9); }
.off-10 { @include offset(10); }
.off-11 { @include offset(11); }
.off-12 { @include offset(12); }

@include break(max, $large) {
  .col-1  { @include width(2); }
  .col-2  { @include width(2); }
  .col-3  { @include width(6); }
  .col-4  { @include width(6); }
  .col-5  { @include width(6); }
  .col-6  { @include width(6); }
  .col-7  { @include width(6); }
  .col-8  { @include width(8); } 
  .col-9  { @include width(8); }
  .col-10 { @include width(10); }
  .col-11 { @include width(12); }
  .col-12 { @include width(12); }

  .off-1  { @include offset(2); }
  .off-2  { @include offset(2); }
  .off-3  { @include offset(6); }
  .off-4  { @include offset(6); }
  .off-5  { @include offset(6); }
  .off-6  { @include offset(6); }
  .off-7  { @include offset(8); }
  .off-8  { @include offset(8); } 
  .off-9  { @include offset(10); }
  .off-10 { @include offset(10); }
  .off-11 { @include offset(12); }
  .off-12 { @include offset(12); }
}

@include break(max, $small) {
  .grid { padding: 0 10px; }

  .col-1  { @include width(6); }
  .col-2  { @include width(6); }
  .col-3  { @include width(6); }
  .col-4  { @include width(6); }
  .col-5  { @include width(6); }
  .col-6  { @include width(6); }
  .col-7  { @include width(12); }
  .col-8  { @include width(12); } 
  .col-9  { @include width(12); }
  .col-10 { @include width(12); }
  .col-11 { @include width(12); }
  .col-12 { @include width(12); }

  .off-1  { @include offset(6); }
  .off-2  { @include offset(6); }
  .off-3  { @include offset(6); }
  .off-4  { @include offset(6); }
  .off-5  { @include offset(6); }
  .off-6  { @include offset(6); }
  .off-7  { @include offset(12); }
  .off-8  { @include offset(12); } 
  .off-9  { @include offset(12); }
  .off-10 { @include offset(12); }
  .off-11 { @include offset(12); }
  .off-12 { @include offset(12); }
}