// Type Mixins
@mixin render($size, $line) {
  font-size: $size;
  line-height: $line;
}

.u {
  text-decoration: underline;

  &:hover {
    opacity: 0.6;
  }
}

// Type Prefixes
.step.sans {
  font-family: "Unica77LLWebRegular", helvetica, sans-serif;
  &.ital {
    font-family: "Unica77LLWebItalic", helvetica, sans-serif;
  }
  &.med {
    font-family: "Unica77LLWebMedium", helvetica, sans-serif;
    &.ital {
      font-family: "Unica77LLWebMediumItalic", helvetica, sans-serif !important;
    }
  }
}

.step.serif {
  font-family: "Adobe Garamond W08", times, serif;
  &.med {
    font-weight: 600;
  }
  &.ital {
    font-style: italic;
  }
}

.step.display {
  font-family: "ITC Avant Garde Gothic W04", helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.045em;
}

// Type Sizes

.step-16 {
  &.sans {
    @include render(100px, 104px);
  }

  &.serif {
    @include render(0px, 0px);
  }

  &.display {
    @include render(0px, 0px);
  }
}

.step-14 {
  &.sans {
    @include render(80px, 84px);
  }

  &.serif {
    @include render(0px, 0px);
  }

  &.display {
    @include render(0px, 0px);
  }
}

.step-12 {
  &.sans {
    @include render(60px, 66px);
  }

  &.serif {
    @include render(66px, 70px);
  }

  &.display {
    @include render(0px, 0px);
  }
}

.step-10 {
  &.sans {
    @include render(42px, 48px);
  }

  &.serif {
    @include render(44px, 50px);
  }

  &.display {
    @include render(0px, 0px);
  }
}

.step-8 {
  &.sans {
    @include render(28px, 34px);
  }

  &.serif {
    @include render(32px, 38px);
  }

  &.display {
    @include render(22px, 24px);
  }
}

.step-6 {
  &.sans {
    @include render(22px, 30px);
  }

  &.serif {
    @include render(26px, 32px);
  }

  &.display {
    @include render(18px, 22px);
  }
}

.step-5 {
  &.sans {
    @include render(18px, 30px);
  }

  &.serif {
    @include render(22px, 32px);
  }

  &.display {
    @include render(0px, 0px);
  }
}

.step-5t {
  &.sans {
    @include render(18px, 26px);
  }

  &.serif {
    @include render(22px, 28px);
  }

  &.display {
    @include render(16px, 20px);
  }
}

.step-4 {
  &.sans {
    @include render(16px, 26px);
  }

  &.serif {
    @include render(18px, 26px);
  }

  &.display {
    @include render(0px, 0px);
  }
}

.step-4t {
  &.sans {
    @include render(16px, 22px);
  }

  &.serif {
    @include render(18px, 22px);
  }

  &.display {
    @include render(14px, 18px);
  }
}

.step-3 {
  &.sans {
    @include render(14px, 24px);
  }
  &.serif {
    @include render(16px, 24px);
  }
  &.display {
    @include render(0px, 0px);
  }
}

.step-3t {
  &.sans {
    @include render(14px, 20px);
  }
  &.serif {
    @include render(16px, 20px);
  }

  &.display {
    @include render(12px, 16px);
  }
}

.step-2 {
  &.sans {
    @include render(12px, 16px);
  }

  &.serif {
    @include render(14px, 18px);
  }

  &.display {
    @include render(10px, 12px);
  }
}

.step-1 {
  &.sans {
    @include render(10px, 14px);
  }

  &.serif {
    @include render(12px, 16px);
  }

  &.display {
    @include render(0px, 0px);
  }
}