@import 'grid';
@import 'type';

.grid p {
  background-color: lemonchiffon;
  margin: 10px 0;
}

.grid div {
  background-color: coral;
}
.grid {
  margin: 20px auto;
  background-color: lightgrey;
}