$black100: #000;
$black80: #333;
$black60: #666;
$black30: #c2c2c2;
$black10: #e5e5e5;
$black5: #f8f8f8;

$purple100: #6e1fff;
$purple10: #D3BBFF;

$green100: #0EDA83;

$red100: #F7625A;

$yellow100: #F1AF1B;
$yellow30: #FAE7BA;
$yellow10: #FDF7E8;


$white100: #fff; 