* { box-sizing: border-box; }

html,
body,
.wrapper { height: 100%; }

body {
  margin: 0;
  padding: 40px 30px;
  font-size: 0;
}

.wrapper {
  max-width: 1192px;
  margin: 0 auto;
}

.c {
  display: inline-block;
  background: #DFEEFF;
  height: 100%;
  margin: 0 10px;
  width: calc(8.333% - 20px);
}

@media only screen and (max-width: 1023px) {
  .c {
    width: calc(16.66666667% - 20px); 
  }
}

@media only screen and (max-width: 767px) {
  body { padding: 20px 10px; }

  .c {
    width: calc(50% - 20px); 
  }
}