@import 'grid';
@import 'type';

.article {
  max-width: 680px;
  margin: 0 auto;
}

.artist.link {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.rich-tooltip {
  width: 100%;
  max-height: 30vh;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: white;
  border-top: 1px solid #e5e5e5;
  p {
    margin: 0;
  }
}