body {
  width: 100%;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

.break {
  font-family: "Unica77LLWebRegular", helvetica, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  width: 100vh;
  -webkit-transform: rotate(90deg) translateY(15px);
  -moz-transform: rotate(90deg) translateY(15px);
  -ms-transform: rotate(90deg) translateY(15px);
  transform: rotate(90deg) translateY(15px);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  pointer-events: none;
  border-top: 1px solid blue;
  line-height: 18pt;
  position: fixed;
  padding-left: 4px;
  color: blue;
  top: 0;
}

.xl {
  left: 1192px;
}

.l {
  left: 1024px;
}

.m {
  left: 900px;
}

.s {
  left: 768px;
}

section {
  background-color: #e5e5e5;
  padding: 0 5px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  section {
    flex-wrap: wrap;
  }
}

.step {
  display: block;
  padding: 10px;
  width: 100%;
}

@media (max-width: 767px) {
  .step {
    margin-bottom: 20px;
  }
}

.half {
  max-width: 50%;
}

@media (max-width: 767px) {
  .half {
    max-width: 100%;
  }
}

.step-class {
  font-family: "Unica77LLWebRegular", helvetica, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  line-height: 18pt;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .step-class {
    margin-bottom: 20px;
  }
}

.sample {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.step-class-meta {
  padding-left: 30px;
}

@media (min-width: 1192px) {
  .sans {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 100pt;
    line-height: 100pt;
  }
  .sans .step-class-meta::after {
    content: " 100pt/100pt";
  }
}

@media (min-width: 1024px) and (max-width: 1191px) {
  .sans {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 80pt;
    line-height: 80pt;
  }
  .sans .step-class-meta::after {
    content: " 80pt/80pt";
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .sans {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 66pt;
    line-height: 66pt;
  }
  .sans .step-class-meta::after {
    content: " 66pt/66pt";
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .sans {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 66pt;
    line-height: 66pt;
  }
  .sans .step-class-meta::after {
    content: " 66pt/66pt";
  }
}

@media (max-width: 767px) {
  .sans {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 46pt;
    line-height: 46pt;
  }
  .sans .step-class-meta::after {
    content: " 46pt/46pt";
  }
}

@media (min-width: 1192px) {
  .step-6 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 60pt;
    line-height: 68pt;
  }
  .step-6 .step-class-meta::after {
    content: " 60pt/68pt";
  }
}

@media (min-width: 1024px) and (max-width: 1191px) {
  .step-6 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 60pt;
    line-height: 68pt;
  }
  .step-6 .step-class-meta::after {
    content: " 60pt/68pt";
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .step-6 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 60pt;
    line-height: 68pt;
  }
  .step-6 .step-class-meta::after {
    content: " 60pt/68pt";
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .step-6 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 56pt;
    line-height: 64pt;
  }
  .step-6 .step-class-meta::after {
    content: " 56pt/64pt";
  }
}

@media (max-width: 767px) {
  .step-6 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 40pt;
    line-height: 46pt;
  }
  .step-6 .step-class-meta::after {
    content: " 40pt/46pt";
  }
}

@media (min-width: 1192px) {
  .step-5 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 40pt;
    line-height: 46pt;
  }
  .step-5 .step-class-meta::after {
    content: " 40pt/46pt";
  }
}

@media (min-width: 1024px) and (max-width: 1191px) {
  .step-5 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 40pt;
    line-height: 46pt;
  }
  .step-5 .step-class-meta::after {
    content: " 40pt/46pt";
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .step-5 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 40pt;
    line-height: 46pt;
  }
  .step-5 .step-class-meta::after {
    content: " 40pt/46pt";
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .step-5 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 30pt;
    line-height: 34pt;
  }
  .step-5 .step-class-meta::after {
    content: " 30pt/34pt";
  }
}

@media (max-width: 767px) {
  .step-5 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 30pt;
    line-height: 34pt;
  }
  .step-5 .step-class-meta::after {
    content: " 30pt/34pt";
  }
}

@media (min-width: 1192px) {
  .step-4 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 30pt;
    line-height: 34pt;
  }
  .step-4 .step-class-meta::after {
    content: " 30pt/34pt";
  }
}

@media (min-width: 1024px) and (max-width: 1191px) {
  .step-4 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 30pt;
    line-height: 34pt;
  }
  .step-4 .step-class-meta::after {
    content: " 30pt/34pt";
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .step-4 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 30pt;
    line-height: 34pt;
  }
  .step-4 .step-class-meta::after {
    content: " 30pt/34pt";
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .step-4 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 24pt;
    line-height: 24pt;
  }
  .step-4 .step-class-meta::after {
    content: " 24pt/24pt";
  }
}

@media (max-width: 767px) {
  .step-4 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 24pt;
    line-height: 24pt;
  }
  .step-4 .step-class-meta::after {
    content: " 24pt/24pt";
  }
}

@media (min-width: 1192px) {
  .step-3 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 20pt;
    line-height: 30pt;
  }
  .step-3 .step-class-meta::after {
    content: " 20pt/30pt";
  }
}

@media (min-width: 1024px) and (max-width: 1191px) {
  .step-3 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 20pt;
    line-height: 30pt;
  }
  .step-3 .step-class-meta::after {
    content: " 20pt/30pt";
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .step-3 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 20pt;
    line-height: 30pt;
  }
  .step-3 .step-class-meta::after {
    content: " 20pt/30pt";
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .step-3 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 18pt;
    line-height: 28pt;
  }
  .step-3 .step-class-meta::after {
    content: " 18pt/28pt";
  }
}

@media (max-width: 767px) {
  .step-3 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 18pt;
    line-height: 28pt;
  }
  .step-3 .step-class-meta::after {
    content: " 18pt/28pt";
  }
}

@media (min-width: 1192px) {
  .step-3t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 20pt;
    line-height: 24pt;
  }
  .step-3t .step-class-meta::after {
    content: " 20pt/24pt";
  }
}

@media (min-width: 1024px) and (max-width: 1191px) {
  .step-3t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 20pt;
    line-height: 24pt;
  }
  .step-3t .step-class-meta::after {
    content: " 20pt/24pt";
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .step-3t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 20pt;
    line-height: 24pt;
  }
  .step-3t .step-class-meta::after {
    content: " 20pt/24pt";
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .step-3t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 18pt;
    line-height: 22pt;
  }
  .step-3t .step-class-meta::after {
    content: " 18pt/22pt";
  }
}

@media (max-width: 767px) {
  .step-3t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 18pt;
    line-height: 22pt;
  }
  .step-3t .step-class-meta::after {
    content: " 18pt/22pt";
  }
}

@media (min-width: 1192px) {
  .step-2 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 16pt;
    line-height: 24pt;
  }
  .step-2 .step-class-meta::after {
    content: " 16pt/24pt";
  }
}

@media (min-width: 1024px) and (max-width: 1191px) {
  .step-2 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 16pt;
    line-height: 24pt;
  }
  .step-2 .step-class-meta::after {
    content: " 16pt/24pt";
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .step-2 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 16pt;
    line-height: 24pt;
  }
  .step-2 .step-class-meta::after {
    content: " 16pt/24pt";
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .step-2 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 14pt;
    line-height: 20pt;
  }
  .step-2 .step-class-meta::after {
    content: " 14pt/20pt";
  }
}

@media (max-width: 767px) {
  .step-2 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 14pt;
    line-height: 20pt;
  }
  .step-2 .step-class-meta::after {
    content: " 14pt/20pt";
  }
}

@media (min-width: 1192px) {
  .step-2t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 16pt;
    line-height: 20pt;
  }
  .step-2t .step-class-meta::after {
    content: " 16pt/20pt";
  }
}

@media (min-width: 1024px) and (max-width: 1191px) {
  .step-2t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 16pt;
    line-height: 20pt;
  }
  .step-2t .step-class-meta::after {
    content: " 16pt/20pt";
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .step-2t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 16pt;
    line-height: 24pt;
  }
  .step-2t .step-class-meta::after {
    content: " 16pt/24pt";
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .step-2t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 14pt;
    line-height: 16pt;
  }
  .step-2t .step-class-meta::after {
    content: " 14pt/16pt";
  }
}

@media (max-width: 767px) {
  .step-2t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 14pt;
    line-height: 16pt;
  }
  .step-2t .step-class-meta::after {
    content: " 14pt/16pt";
  }
}

@media (min-width: 1192px) {
  .step-1 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    line-height: 18pt;
  }
  .step-1 .step-class-meta::after {
    content: " 12pt/18pt";
  }
}

@media (min-width: 1024px) and (max-width: 1191px) {
  .step-1 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    line-height: 18pt;
  }
  .step-1 .step-class-meta::after {
    content: " 12pt/18pt";
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .step-1 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    line-height: 18pt;
  }
  .step-1 .step-class-meta::after {
    content: " 12pt/18pt";
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .step-1 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 10pt;
    line-height: 14pt;
  }
  .step-1 .step-class-meta::after {
    content: " 10pt/14pt";
  }
}

@media (max-width: 767px) {
  .step-1 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 10pt;
    line-height: 14pt;
  }
  .step-1 .step-class-meta::after {
    content: " 10pt/14pt";
  }
}

@media (min-width: 1192px) {
  .step-1t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    line-height: 14pt;
  }
  .step-1t .step-class-meta::after {
    content: " 12pt/14pt";
  }
}

@media (min-width: 1024px) and (max-width: 1191px) {
  .step-1t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    line-height: 14pt;
  }
  .step-1t .step-class-meta::after {
    content: " 12pt/14pt";
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .step-1t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    line-height: 14pt;
  }
  .step-1t .step-class-meta::after {
    content: " 12pt/14pt";
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .step-1t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 10pt;
    line-height: 12pt;
  }
  .step-1t .step-class-meta::after {
    content: " 10pt/12pt";
  }
}

@media (max-width: 767px) {
  .step-1t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 10pt;
    line-height: 12pt;
  }
  .step-1t .step-class-meta::after {
    content: " 10pt/12pt";
  }
}

@media (min-width: 1192px) {
  .step-0 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 10pt;
    line-height: 14pt;
  }
  .step-0 .step-class-meta::after {
    content: " 10pt/14pt";
  }
}

@media (min-width: 1024px) and (max-width: 1191px) {
  .step-0 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 10pt;
    line-height: 14pt;
  }
  .step-0 .step-class-meta::after {
    content: " 10pt/14pt";
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .step-0 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 10pt;
    line-height: 14pt;
  }
  .step-0 .step-class-meta::after {
    content: " 10pt/14pt";
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .step-0 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 8pt;
    line-height: 12pt;
  }
  .step-0 .step-class-meta::after {
    content: " 8pt/12pt";
  }
}

@media (max-width: 767px) {
  .step-0 {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 8pt;
    line-height: 12pt;
  }
  .step-0 .step-class-meta::after {
    content: " 8pt/12pt";
  }
}

@media (min-width: 1192px) {
  .step-0t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 10pt;
    line-height: 12pt;
  }
  .step-0t .step-class-meta::after {
    content: " 10pt/12pt";
  }
}

@media (min-width: 1024px) and (max-width: 1191px) {
  .step-0t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 10pt;
    line-height: 12pt;
  }
  .step-0t .step-class-meta::after {
    content: " 10pt/12pt";
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .step-0t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 10pt;
    line-height: 12pt;
  }
  .step-0t .step-class-meta::after {
    content: " 10pt/12pt";
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .step-0t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 8pt;
    line-height: 10pt;
  }
  .step-0t .step-class-meta::after {
    content: " 8pt/10pt";
  }
}

@media (max-width: 767px) {
  .step-0t {
    font-family: "Unica77LLWebRegular", helvetica, sans-serif;
    font-weight: normal;
    font-size: 8pt;
    line-height: 10pt;
  }
  .step-0t .step-class-meta::after {
    content: " 8pt/10pt";
  }
}
/*# sourceMappingURL=style.css.map */