// Mixins
@mixin p($property, $val)
  -webkit-#{$property}: $val
  -moz-#{$property}: $val
  -ms-#{$property}: $val
  #{$property}: $val


// Basics
body
  width: 100%
  padding: 0
  margin: 0
p
  margin: 0

h1
  margin: 0



// Layout
section
  background-color: #e5e5e5
  padding: 10px 15px
  margin: 20px
  min-height: 200px
  display: flex
  justify-content: space-between

.step
  display: flex
  flex-direction: column
  justify-content: space-between
  flex-grow: 1

.step-class
  font-family: $unica
  font-size: 12pt
  font-weight: normal
  line-height: 18pt


@import 'type'
